/*Tru say Phones stylesheet */
body{
	background-color:#E6E6E6;
	font-family: 'Lato', sans-serif;
	font-family: 'Amiko', sans-serif;
	font-size:14px;
}
#container{
width:1000px;
margin:0 auto;
}
/* Header at the top */
header{
	width:100%;
	border:1px solid black;
	float:left;
	display:inline;
	background-color:#3A7561 ;
	color:white;
}
header h1{
	margin-left:0px;
	display:inline;
	float:left;
}
header h2{
	margin-right:40px;
	display:inline;
	float:right;
}
nav{
	width:100%;
	border:1px solid black;
	border-top:none;
	float:left;
	display:inline;
	  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	background-color:#3A7561;
}
a{
	text-decoration: none;
}
/* Menu buttons*/
#nav_ul{
	list-style-type:none;
	margin:0px;
	float:right;

}
.nav_li{
	width:100px;
	float:left;
	text-align:center;
	display:inline;
	margin:5px;
}
.nav_li:hover{
	background:#6B9888;
	color:white;

}
.nav_a{
	text-decoration:none;
	color:white;
	display:block;
	padding:5px;
	width:100%;
	height:100%;
}


/*above menu buttons */
.logo{
	width:80px;
	display: inline;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

main{
	width:100%;
	border:1px solid #999999;
	float:left;
	display:inline;
	color:black;
	background-color:#FFFFFf;
}
main h3{
	font-size:16px;
	margin-left:30px;
}
/* Products on the page */
#prod_con{
	width:100%;
	margin-left:2px;
	margin-right:2px;
	float:left;
	display:inline;
}
/* banner on the home page */
.bannertxt{
	min-height:251px;
	color:#61C3A2;
	background-color:#f2f2f2;
	border:1px solid #999999;
	width:100%;
	text-align:center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.bannertxt h2{
	color:#ff5600;
	padding:10px;
	padding-bottom:5px;
}
.bannertxt h3{
	color:#005a3c;
	padding:10px;
	padding-bottom:5px;
}
.bannertxt h4{
	color:black;
	padding:10px;
	padding-bottom:5px;
}
.bannertxt p{
	color:black;
	padding:10px;
	padding-top:5px;
}
.bannername{
	min-height:151px;
	color:#61C3A2;
	background-color:#f2f2f2;
	border:1px solid #999999;
	width:100%;
	text-align:center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.bannername h2{
	color:#ff5600;
	padding:10px;
	font-size: 28px;
	padding-bottom:5px;
}
.bannername h3{
	color:#005a3c;
	padding:10px;
	padding-bottom:5px;
}
.bannername h4{
	color:black;

	padding:10px;
	padding-bottom:5px;
}
/* Div to give border to an image */
#imgborder{
	border:1px solid #999999;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.product_main{
	width:300px;
	margin:15px;
	float:left;
	display:inline;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.prod_main{
	width:970px;
	margin:15px;
	float:left;
	display:inline;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.prod_pic{
	width:290px;
	margin:5px;
	float: left;
	display: inline;
}
.main_pic{
	width:800px;
	border:1px solid transparent;
	margin-left:100px;
}
.product_info{
	width:290px;
	border:1px solid transparent;
	display: inline;
	margin: 5px;
	float: left;
}
.product_info p{
margin:5px;
}
.prod_info{
	width:290px;
	border:1px solid #CCCCCC;
	display: inline;
	margin: 5px;
	margin-left:25px;
	float: left;
}
.prod_info p{
margin:5px;
}
.prod_net{
	width:290px;
	border:1px solid #CCCCCC;
	margin:5px;
	margin-left:25px;
	display: inline;
	float: left;
}

.prod_net p{
margin:5px;
}
.prod_name{
	font-weight:bold;
	color:#005a3c;
	font-size:20px;
	text-align:center;
}
.prod_price{
	font-weight:bold;
	font-size:15px;
	color:#595959;
	text-align:center;
}
.p_image{
	width: 290px;
}
.prod_price .offer{
	font-weight:bold;
	font-size:20px;
	color:#ff5600;
}
.prod_price .old{
	font-weight:bold;
	font-size:20px;
	color:#3A7561;
}
.p_network{
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color:gray;
	border: 1px solid gray;
	border-radius: 3px;
	display: inline;
	margin-left: 10px;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
}
.network_line{
	margin: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* Hide the divs */
#samsung1n_2, #samsung1n_3,
#samsung2n_1, #samsung2n_3,
#samsung3n_1, #samsung3n_3
{
	display: none;
}
.info_topic{
	color:#005a3c;
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
}
.info_total{
	padding-left: 10px;
}

.in_stock{
	color:green;
}
.out_stock{
	color:red;
}
/* Feedback form on contact page */
.feedback{
	margin:20px;
}
.f_heading{
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	color:white;
	background-color:#3A7561 ;
}
.feedback input[type="text"]{
		width:100%;
		border:1px solid black;
		padding-top:5px;
		padding-bottom:5px;
		border-radius:5px;
}
.feedback textarea{
		width:100%;
		border:1px solid black;
		max-height:200px;
		max-width:250px;
		border-radius:5px;
}
.feedback input[type="submit"]{
		width:60px;
		border:1px solid gray;
		padding:5px;
		background-color:#ffffff;
		border-radius:5px;
		margin-left:90px;
}
.contact_form{
	width:300px;
	border:1px solid #999999;
	margin:15px;
	float:left;
	display:inline;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.contact_main{
	width:300px;
	border:1px solid #999999;
	margin:15px;
	float:left;
	display:inline;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.contact_small{
	width:290px;
	border:1px solid transparent;
	margin:4px;
}
.contact_big{
	width:290px;
	border:1px solid transparent;
	margin:4px;
}
.contact_small, .contact_big p{
margin:5px;
}
.contact_topic{
	color:#3A7561;
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
}
/* Footer at the bottom */
footer{
	width:100%;
	border:1px solid gray;
	float:left;
	display:inline;
}
#footer_con{
	width:100%;
	float:left;
	display:inline;
	background-color:#3A7561;
}
#footer_main{
	width:300px;
	margin:15px;
	float:left;
	display:inline;
}
.footer_info{
	width:290px;
	color:#f5f5f5;
	margin:4px;
	text-align:left;
}
.footer_info span{
	color:#ffffff;
	font-weight: bold;
	font-size: 16px;
}
/*Tru Say Phones*/
/* By Gurjeet Singh*/